version: "3.9"

services:
  app:
    build: .
    container_name: shukuma-app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      PORT: ${PORT}
      MONGODB_URI: ${MONGODB_URI}
      SESSION_SECRET: ${SESSION_SECRET}
